header{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fin.pinterest.com%2Fpin%2F585256914067134212%2F&psig=AOvVaw2syX_8rsuYlqXjXMQI0UA3&ust=1711883272990000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMjyiKXsm4UDFQAAAAAdAAAAABAE);
}
body{
    background-color:#cccccc;
    font-family: 'Times New Roman', Times, serif;
}
.folder {
    background-color: #FF0000;
    background: linear-gradient(to left ,#6e0d0d,#aa0000);
    text-emphasis-color: #FFFF00;
    width: 150px;
    color: aliceblue;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}



.to-top {
    background: rgb(255, 255, 255);
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:40px;
    color:#1f1f1f;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
  }
  
  .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }



.content {
    display: none;
    padding: 5px;

}
h1{
    color: yellow;
    font-size: 15px;
}
p{
    font-size: 15px;
    line-height: 150%;
}
span{
    font-size: 15px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}


pre{
    font-size: 15px;
}


.hide,
.hide rt {
    background-color: #252525;
    width: auto;
}
 
.hide,
.hide a,
a .hide,
a.new .hide,
span.hide a.new,
span.hide a.external,
span.hide a.external:visited,
span.hide a.extiw,
span.hide a.extiw:visited,
span.hide a.mw-disambig,
span.hide a.mw-redirect {
    transition: color .13s linear;
    color: #252525;
    text-shadow: none;
    display: auto;
}
 
span.hide:hover,
span.hide:active {
    color: white;
}
 
span.hide:hover a,
a:hover span.hide {
    color: lightblue;
}
 
span.hide:hover a:visited,
a:visited:hover span.hide {
    color: #c5cae9;
}
 
span.hide:hover a.new,
a.new:hover span.hide {
    color: #fcc;
}
 
span.hide a.new:hover:visited,
a.new:hover:visited span.hide {
    color: #ef9a9a;
}
 
span.hide:hover a.extiw:visited,
a.extiw:visited:hover span.hide {
    color: #d1c4e9;
}

.folderhide {
    background-color: #cccccc;
    width: 150px;
    color: aliceblue;
    padding: 10px;
    margin: 5px;
}
.folderiframe{
    background-color: #ff0000;
    width: 150px;
    color: aliceblue;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}